<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5MIgc8px5rld79m_tID1P7IDIk-MKf74</string>
	<key>GCM_SENDER_ID</key>
	<string>97528872795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.syntax-institut.AbschlussProjekt03</string>
	<key>PROJECT_ID</key>
	<string>festivalflow-d4eae</string>
	<key>STORAGE_BUCKET</key>
	<string>festivalflow-d4eae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97528872795:ios:348f47f346872c5a1d247e</string>
</dict>
</plist>